/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }