/* src/App.css */

/* Estilos generales de la aplicación */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa; /* Fondo claro */
}

.content {
  flex: 1; /* Esto hace que el contenido ocupe el espacio disponible */
  padding: 20px;
}

footer {
  background-color: #333; /* Fondo oscuro para el pie de página */
  color: white;
  text-align: center;
  padding: 20px;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
  color: #333; /* Color de texto */
}

p {
  font-family: 'Arial', sans-serif;
  color: #666; /* Color de texto más suave */
}

.navbar {
  background-color: #222; /* Fondo oscuro para la barra de navegación */
  color: white;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
}

.navbar a:hover {
  color: #4CAF50; /* Color verde cuando pasas el mouse sobre los enlaces */
}